#bunq {
  height: 200px;
  position: absolute;
  left: 280px;
  top: 800px;
}

page-home {
  font-family: 'Russo One', sans-serif;
}

ion-slide {
  background-color: grey;
  background-blend-mode: screen;
  background-size: cover; 

  p {
    padding: 10px;
  }
}

h2 {
  font-size: 4.4rem;
}
